<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Recipe Book</a>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item"><a class="nav-link" href="#">Recipes</a></li>
      <li class="nav-item"><a class="nav-link" href="#">Shopping List</a></li>
    </ul>
  </div>

  <ul class="navbar-nav float-right">
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown">
        Manage
      </a>
      <ul class="dropdown-menu">
        <li><a class="dropdown-menu" href="#">Save Data</a></li>
        <li><a class="dropdown-menu" href="#"></a>Fetch Data</li>
      </ul>
    </li>
  </ul>
</nav>
